.header-box .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    HEIGHT: 100%;
}
.header-box .search .search-container #s-button {
    display:none;
}
@media (max-width: 768px) {
    .header-box .search .search-container #s-button {
    width: 40px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    }
    .header-box .search .search-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    HEIGHT: 100%;
    display: none;
}
}    
