.header-box .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    HEIGHT: 100%;
}
.header-box .search .search-container #s-button {
    display:none;
}
@media (max-width: 768px) {
    .header-box .search .search-container #s-button {
    display:block;
    }
    .header-box .search .search-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    HEIGHT: 100%;
    display: none;
}
}    
